.btn {
  text-align: center;
  font-family: "Source Sans Pro", serif;
  font-weight: 600;
  border-radius: 4px;
  -webkit-appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  user-select: none;
  cursor: pointer;
  height: 36px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &:disabled {
    cursor: progress;
    opacity: 0.5;
  }

  &.btn--primary {
    background-color: #2843a7;
    background-image: linear-gradient(-180deg, #4534d0, #3628a7 90%);
    color: #fff;

    &:focus {
      outline: 0;
      background-color: #2843a7;
      background-image: none;
      border-color: rgba(27,31,35,.5);
      box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
    }
  }

  &.btn--secondary {
    background-color: #eee;
    background-image: linear-gradient(-180deg,#eee,#dfdfdf 90%);
    &:focus {
      outline: 0;
      background-color: #dfdfdf;
      background-image: none;
      border-color: rgba(27,31,35,.5);
      box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
    }
  }


  &.btn--sm {
    height: 28px;
    padding: 0 20px;
  }
}