.form {
  width: 100%;
  p.error-message {
    color: #ff3b34;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: 90px;
    /* text-align: -webkit-center; */
    font-size: 12px;
  }
}

label {
  margin-bottom: 10px;
}

.form--inline label {
  margin: 0;
  width: 95px;
}

input[type=radio] {
  margin: 0 10px;
}

label {
  display: block;
  font-weight: 600;
}

.form--group:not(:last-child) {
  margin-bottom: 20px;
}

.form--inline {
  display: flex;
  align-items: center;
  // max-width: 500px;
  // justify-content: space-between;
  input[type=text], select {
    //margin-left: 50px;
  }
}