@import "./../sass/base.scss";

#login--page {
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 600;
    font-size: 24px;
  }

  .login--page__form {
    margin-top: 20px;
    border: 1px solid#d8dee2;
    border-radius: 5px;
    padding: 20px;
  }
}