@import "./../../sass/base.scss";

.sidenav {
  position: fixed;
  top: 78px;
  left: 0;
  width: 240px;
  height: 100%;
  z-index: 1;;
  border-right: 1px solid #dfdfdf;
  overflow-y: auto;
  background: #111;

  &::-webkit-scrollbar {
    width: 0px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #111;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: 1px solid slategrey;
  }
}

.sidenav--item {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid darken(#24292e, 5);
  color: #fff;
  &:hover {
    background: #fff;
    color: #24292e;
  }
}